body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url('Images/Backgroundimage.png');
}

.login-page-container {
    display: flex;
    background-color: #fdfdfb;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    height: 600px;
    overflow: hidden;
}

/* Left Side Image*/
.login-image-section {
    flex: 1;
    background-image: url("Images/Cupcake.png"); 
    border: 1px solid #000000;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
}

/* Right Side Text Area*/
.login-form-section {
    flex: 1;
    padding: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fdfdfb;
}

/* Logo */
.logo {
    font-family: "Agbalumo", system-ui;
    font-size: 48px;
    font-weight: bold;
    color: #af4c0f(23, 84%, 37%); 
    margin-bottom: 10px;
    text-align: center;
}

.hub-text {
    color: #000000; 
}

.welcome-message {
    font-family: "Fugaz One", sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

/*Form Styles*/
.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    font-family: "Newsreader", serif;
    font-size: 18px;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #000000;
}

.form-group input {
    width: 100%;
    padding: 10px 8px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #000000;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/*Login Button*/
.login-btn {
    background-color: #ffde59;
    color: #333;
    padding: 15px 30px;
    border: 1px solid #444;
    border-radius: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.login-btn:hover {
    background-color: #ffc933;
}

/*Bottom "Sign Up" Link*/
.signup-link-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    color: #000000;
    width: 100%;
}

.signup-link-container p {
    margin: 0;
}

.signup-link {
    color: #000000;
    text-decoration: underline;
    font-weight: bold;
}

.signup-link:hover {
    color: #a0522d;
}